<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOV-ATHON</title>
    <meta name="description" content="Quiz Game with Flask">
  </head>
  <body>
    <h1 class='title'>MOV-ATHON</h1>

    <h3 class='titleprompt'>How well do you know your movies? <br>
    Take a quiz and find out!</h3>
    <a href='/questions/1'><button class="startbutton" id='startbutton'>Get Started</button></a>
    
  its running on my laptop but the paths are all wrong
  </body>
</html>
