<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <meta name="description" content="Quiz Game with Flask">
  </head>
  <body>
    <div class='entire'>
      <div class='heads'>
        <h1>QUESTION {{numbers}} </h1>
      </div>

      <div id="question">
        <h1>{{questions[numbers]}}</h1>
      </div>

      <div class='options'>
        <form action ="#" method = "post" id = "page">

        {%for numbers in options[numbers]%}
          <input type="radio" id="red" name="options" value="{{numbers}}">
          <label for="red">{{numbers}}</label><br>
        {%endfor%}

          <input type = "submit" name = "submit" id="startbutton" class="startbutton1">
          
        </form>
      </div>
      <div>
        {%if numbers > 1%}
        <a href='/questions/{{numbers - 1}}'><button class="startbutton2" id='startbutton'>previous</button></a>

        {%endif%}

        {%if numbers < questions|length%}

          <a href='/questions/{{numbers + 1}}'><button class="startbutton3" id='startbutton' onclick = "submitForm()">next</button></a>
        {%else%}
          <a href='/questions/results'><button class="startbutton4" id='startbutton' onclick = "submitForm()">submit</button></a>

        {%endif%}
      <div>
    </div>
    <!-- Remove this comment and replace it with your code -->

  </body>
</html>
