<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Quiz Game</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style2.css') }}"
    />
    <meta name="description" content="Quiz Game with Flask" />
  </head>
  <body>
    <div class="entire">
      <div class="heads">
        <h1>QUESTION {{numbers}}</h1>
      </div>

      <div id="question">
        <h1>{{questions[numbers]}}</h1>
      </div>

      <div class="options">
        {%if numbers < questions|length%}
          <form action = "/questions/{{numbers + 1}}" method="post" id="page" onsubmit="return validateForm()">
        {%else%}
          <form action = "/questions/results" method="post" id="page" onsubmit="return validateForm()">
        {%endif%} 

          {%for option in options_list%}
            <input type="radio" id="red" name="options" value="{{option}}" />
            <label for="red">{{option}}</label><br />
          {%endfor%}

          </form>
          <div id="startbutton">
            {%if numbers > 1%}
            <a href="/questions/{{numbers - 1}}"
              ><button class="startbutton2" id="startbutton">previous</button></a>

            {%endif%} 
            
            
            {%if numbers < questions|length%}
            
              <button class="startbutton3" id="startbutton" form = "page" type = "submit">Next</button></a>
            
            {%else%}
            <button class="startbutton2" id="startbutton" form = "page" type = "submit">Submit</button></a>

            {%endif%}
          </div>
        
      </div>
    </div>
    <script>
      function validateForm() {
        let x = document.forms["page"]["options"].value;
        if (x == "") {
          alert("You need to select an answer");
          return false;
        }
      }
    </script>

  </body>
</html>
